






























/* WORKING SOLUTION */

/* .animal-list {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 70vw;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px 10px;
}

.animal-list li {
        background-color: aqua;

} */